.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.cycles {
    width: 50px;
    display: inline;
}

.zoebtn{
    width: 38px !important;
}

.fa-trash-alt{
    color: #5A717D;
    font-size: 1.5rem;
    cursor: pointer;
}

.seconds{
    width: 60px;
    display: inline;
}

#template, .new-exercise, .add-form {
    display: flex;
}

.controls {
    width: 250px;
}

.add-buttons {
    width: 250px;
    display: inline;
}

.name-label, .exercise-name {
    flex-grow: 1;
}

.weekdays {
    display: inline
}

#remove-exercise, .name-label {
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
}

.saved-alert{
    display: none;
}

.dismiss{
    float: right;
    cursor: pointer;
}