.card.ui{
    border: none;
}

.card-header.ui{
    /* background: rgb(160, 181, 187); */
    background: #343A40;
    color: #ffffff;
    font-weight: bold;
}

.card-body.ui{  
    background: #F8F9FA;
}

.navbar {
    position: relative !important;
}

.navbar-brand{
    font-weight: bold;
}

body {
    background: #F0F4F6;
    font-family: sans-serif;
}


#save-routine, #discard, #add-exercise, #add-break  {
    background: rgb(90, 113, 125);
    /* background: rgb(160, 181, 187); */
}

.btn {
    background: rgb(90, 113, 125);
}

.user, #log-out {
    cursor: pointer;
}

.user-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-menu{
    position:absolute !important;
    top: 100%;
    left:-50%;
    right:0;
    z-index:1;
  }

#dropdown-home, #dropdown-routine{
    color: inherit;
    text-decoration: none;
}

@media (min-width:576px) {
    #dropdown-home, #dropdown-routine{
        display: none
    }
}

@media (max-width:576px) {
    .nav-options{
        display: none
    }
}