.welcome-title{
    margin: 0px
}

#routines-container {
    margin-top: 50px;
}

.routinecard{ 
    text-align: center; 
    position: relative;  
    border-radius: 5px;
    overflow: hidden;
    max-width: 250px;
}

.strength {
    background-image: url(../images/strength.jpg);
}

.bodyweight {
    background-image: url(../images/bodyweight.jpg);
}

.yoga {
    background-image: url(../images/yoga.jpeg);
}

.cardio {
    background-image: url(../images/cardio.jpeg);
}

.combat {
    background-image: url(../images/combat.jpg);
}

.crossfit {
    background-image: url(../images/crossfit.jpg);
}

.cycling {
    background-image: url(../images/cycling.jpg);
}

.hiit {
    background-image: url(../images/hiit.jpg);
}

.weightlifting {
    background-image: url(../images/weightlifting.jpg);
}

.pilates {
    background-image: url(../images/pilates.jpg);
}

.dance {
    background-image: url(../images/dance.jpg);
}

.stretching {
    background-image: url(../images/stretching.jpg);
}

.wellness {
    background-image: url(../images/wellness.jpg);
}

.card-top {
    height: 130px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.card-top::before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
}

.routinecard-title{
    display: inline-block;
    width: 100%;
    word-wrap: normal;
    z-index: 2;
    font-size: 1.2em;
    font-weight: bold;
}

.card-bottom {
    display: flex;
    color: #ffffff;
    background-color: #0275d8;
}

.clock {
    padding-left: 10px;
}

.launch-container {
    color: #ffffff;
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.launch-routine {
    display: inline-block;
    margin-right: 10px;
    padding: 0px 5px;
    text-align: center;
    border-radius: 2px;
}

.launch-routine:hover {
    color: #fff; background-color: #63B76C;
}

.template{
    display: none;
}

.quote {
    color: #3d3d3d;
    padding: 2rem;
    font-size: 1.7rem;
    font-style: italic;
}

.quote-author {
    color: #3d3d3d;
    padding-right: 6rem;
    padding-bottom: 2rem; 
    font-size: 1.5rem;
    font-weight: bolder;
}

.card-menu:hover{
    cursor: pointer;
}

.card-option:hover{
    cursor: pointer;
    background-color: #0275d8;
    color: #ffffff
}

@media (max-width: 576px) {
    .welcome-title{
        text-align: center;
    }
}