.welcome-title{
    margin: 0px
}

.routinecard{ 
    text-align: center; 
    position: relative;  
    color: #222;
}

.title-column{
    height: 24px;
}

.routinecard-title{
    display: inline-block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.launch-routine {
    color: black;
    cursor: pointer;
}

.launch-routine:hover {
    color: #fff; background-color: #63B76C;
}

.template{
    display: none;
}

.quote {
    color: #ffffff;
    padding: 2rem;
    font-size: 1.7rem;
    font-style: italic;
}

.quote-author {
    color: #ffffff;
    padding-right: 6rem;
    padding-bottom: 2rem; 
    font-size: 1.5rem;
    font-weight: bolder;
}

.card-menu:hover{
    cursor: pointer;
}

.card-option:hover{
    cursor: pointer;
    background-color: #0275d8;
    color: #ffffff
}

@media (max-width: 576px) {
    .welcome-title{
        text-align: center;
    }
}